.navbar{
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.853);
  overflow: hidden;
  justify-content: space-between;
  margin: 0%;
  padding: 20px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.links{
    float: right;
    margin: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.links_item > a{
    color:white;
    text-decoration: none;
    transition: 0.4s;
    padding: 0.5rem;
    display: block;
}

.links_item > a:hover{
    color: #34c85a;
}

.buton{
    background-color:#34c85a;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.buton:hover{
    background-color: white;
    color: #34c85a;
}


#logo{
    font-weight: 900;
    font-size: 25px;
    background: -webkit-linear-gradient(#34c85a, grey);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bars{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content:space-between;
    width: 30px;
    height: 21px;
    padding: 10px 10px;
}

.bars .bar1{
    height: 4px;
    width: 100%;
    background-color:#34c85a ;
    border-radius: 10px;
    transition: all .4s;
}

.bars .bar2{
    height: 4px;
    width: 100%;
    background-color:#34c85a ;
    border-radius: 10px;
    transition: all .4s;
}

.bars .bar3{
    height: 4px;
    width: 100%;
    background-color:#34c85a ;
    border-radius: 10px;
    transition: all .4s;
}



@media(max-width: 920px){
    .bars{
        display: flex;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .links{
        display: none;
        width: 90%;
        flex-direction: column;
        text-align: center;
    }


    .links > ul{
        width: 100%;
        flex-direction: column;
    }

    .links > li > a{
        padding: .5rem 1rem;
    }

    .links.isActive{
        display: flex;
    }

    .bar1.isActive{
        transform: rotate(45deg);
        translate: 0px 8px;
        transition: 0.4s;
    }

    .bar2.isActive{
        opacity: 0;
    }

    .bar3.isActive{
        transform: rotate(-45deg);
        translate: 0px -8px;
        transition: 0.4s;
    }
}
