<nav class="navbar">
    <a href = "#" class = "bars">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
    </a>
    <a id="logo" href="">NeXT</a>
    <ul class="links">
        <li class="links_item">
            <a href ="" >Home</a>
        </li>
        <li class="links_item">
            <a href="">Tech</a>
        </li>
        <li class="links_item">
            <a href="">Products</a>
        </li>
        <li class="links_item">
            <button>sign up</button>
        </li>
    </ul>
</nav>