.main{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: grey;
}

.titlu{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.form{
    padding-top: 20px;
    text-align: center;
}
.form .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
    border-bottom-color:white;
}
.form .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: white !important;
}

.button_add {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.button_add button {
    margin-left: 165px;
}

.button_add :first-child {
    background-color: #34c85a;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.button_add :hover{
    background-color: white;
    color: black;

}